
div#requestLoading {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 65535;
	opacity: .5;
	visibility: hidden;
	background: #333333 url(demo/images/loading.gif) no-repeat center center;
}

ul.pagination {
	margin: 3px 0;
}

/* Fix pannel-footer */
.panel-footer {
	padding: 10px 5px;
}
.panel-footer .btn {
	margin-bottom: 0;
}

/* validate input/textarea/select fields */
.valid_error {border:1px solid red!important;}
.cell_error {background:#FFCCD9;}
.data_start_zi, .data_start_luna, .data_end_zi, .data_end_luna {width:28px;margin-right:5px;padding:3px;float:left;}
.data_start_an, .data_end_an{width:41px;display:inline-block;padding:3px;}

/* Required form elements */
.req {
	color: #FF0000;
}

/* Fix right col */
.nav-md .container.body .right_col {
	padding-bottom: 15px;
}

/* Fix widget panel toolbox (right corner) */
.panel_toolbox {
	min-width: 0;
}

/* Search All */
.search-all {
	padding: 0 10px 10px;
}
#searchAll {
	width: 100%;
}

/* ---------------------------------------------------------------------------------------------- */

/* Search ALL */
.top_search {
    display: inline-block;
    margin-top: 10px;
}
.top_search .input-group {
    float: right !important;
    transition: all 0.35s;
    width: 174px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 0;
}
.top_search .input-group input.form-control {
    padding: 6px 24px 6px 14px;
    margin-right: 0;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}
.top_search .input-group input.form-control:focus {
    width: 362px;
}

.top_search .input-group.has-feedback .form-control-feedback.right {
    border: 0;
    right: 0;
    margin-top: 6px;
    text-align: center;
}

.autocomplete-suggestions .loadingRemoteData {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 65535;
    opacity: .5;
    background: #333333 url(../images/loadingAuto.gif) no-repeat center center;
}
.autocomplete-suggestions .autocomplete-suggestion {
    color: #555;
    font-size: 1em;
}
.autocomplete-suggestions .autocomplete-group {
    color: #555;
    background-color: #eee;
    border-bottom: 1px solid #bbb;
}
.autocomplete-suggestions .autocomplete-suggestion strong {
    color: #444;
}
.autocomplete-suggestions .autocomplete-group strong {
    color: #444;
    border: none;
    font-size: 14px;
}

/* ---------------------------------------------------------------------------------------------- */

/* Breadcrumb */
.nav_menu .breadcrumb {
	float: left;
	margin: 0;
	height: auto;
	background: none;
	padding-left: 0;
}
.nav_menu .breadcrumb > li {
	font-size: 16px;
	line-height: 41px;
}
.top_nav .navbar-right {
	 width: auto;
}


/* Table */
table.table thead tr th.actions {
	width: 1px;
}
table.table thead tr th.actions .btn,
table.table tbody tr td.actions .btn {
	margin: 0;
}
table.table tbody tr td.nodata {
	padding: 40px 20px;
	font-size: 1.5em;
	text-align: center;
}

/* Modal - Quick fix */
.modal-footer .btn {
	margin: 0 5px;
}

/* Select2 multiple fix */
.form-horizontal .has-feedback .form-control-feedback {
	right: 8px;
	border: none;
}

/* Filter form - Input */
.filter-form input {
	font-size: 13px;
	padding: 8px 12px;
	height: 38px;
}

.select2-container .select2-search--inline .select2-search__field {
	height: auto;
}


table tr .cta.importrow {font-size:25px;}
table tr .cta.importrow:hover {color:#1ABB9C;}

/* Badges */
.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}

/** pNotify */
.ui-pnotify-icon, .ui-pnotify-icon span {
    font-size: 17px;
}

.wide {width:100%!important}
.table_carti_sursa .row.selected {background:red;}
.table_carti_sursa .row.selected .cta {display:none;}