.alert-info2 { color: #7396c4;background-color: rgb(255, 253, 235);border-color: rgba(241, 226, 98, 0.54);}

.error {color:#d80400;font-size:12px;}

.desktop{display: block;}
.mobile{display: none;}

.disabledTab {pointer-events: none;}
.revertext {unicode-bidi: bidi-override;direction: rtl;}
.slist {list-style-type:none !important; padding:0; margin: 0;}
.default-list {list-style-type: disc;padding:0 20px;margin:0 30px;}
.dlist {list-style-type:disc;}
.inline-list li {display:inline-block;}

.bold {font-weight:700;}
.cursor {cursor:default !important;}
.static {position:static!important;}
.disabled {opacity:0.3;}
.text-left {text-align: left;}
.ui-dialog.text-left .ui-dialog-content {text-align: left;}
.vtop {vertical-align: top;}
.lowercase {text-transform:lowercase;}

/* clearfix */
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/* colors */
.white {color:#FFF;}
.gray {color:#999999;}
.blue {color:#07AAD9;}
.black {color:#000;}

/* DISPLAY */
.inline {display:inline!important;}
.inlineb {display:inline-block;}
.block {display:block;}
.hide {display:none;}
.invisible {visibility: hidden;}

/* font-size EM */
.em09 {font-size:0.9em;}

/* fonts size */
.font11 {font-size:11px;}
.font12 {font-size:12px;}
.font15 {font-size:15px;}
.font16 {font-size:16px;}
.font17 {font-size:17px;}
.font18 {font-size:18px;}
.font19 {font-size:19px;}
.font20 {font-size:20px;}
.font21 {font-size:21px;}
.font22 {font-size:22px;}

/* FLOAT */
.fr {float: right;}
.fl {float: left;}
.fri {float: right !important;}
.fli {float: left !important;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.center-auto {margin:0 auto;}
.top {vertical-align:top;}

/* PADDING */
.p0 {padding:0!important;}
.p5 {padding:5px!important;}
.p7 {padding:7px!important;}
.pr3 {padding-right: 3px;}
.pl3 {padding-left: 3px;}
.pt3 {padding-top: 3px;}
.pb3 {padding-bottom: 3px;}

.pr0 {padding-right:0;}
.pl0 {padding-left:0;}

.pr5 {padding-right: 5px;}
.pl5 {padding-left: 5px;}
.pt5 {padding-top: 5px;}
.pb5 {padding-bottom: 5px;}

.p10 {padding:10px;}
.pr10 {padding-right: 10px;}
.pl10 {padding-left: 10px;}
.pt10 {padding-top: 10px;}
.pb10 {padding-bottom: 10px;}
.pr20 {padding-right: 20px;}
.pl20 {padding-left: 20px!important;}
.pt20 {padding-top: 20px;}
.pb20 {padding-bottom: 20px;}

/* MARGIN */
.m0 {margin:0!important;}
.mt2 {margin-top:2px;}
.mt5 {margin-top:5px;}
.mr5 {margin-right:5px;}
.mb5 {margin-bottom:5px;}
.ml5 {margin-left:5px;}

.mt10 {margin-top:10px;}
.mr10 {margin-right:10px;}
.mb10 {margin-bottom:10px;}
.ml10 {margin-left:10px;}

.mt20 {margin-top:20px;}
.mr20 {margin-right:20px;}
.mb20 {margin-bottom:20px;}
.ml20 {margin-left:20px;}
.ml50 {margin-left:50px;}
.ml100 {margin-left:100px;}

/* width */
.w50 {width:50px;}
.w75 {width:75px;}
.w100 {width:100px;}
.w125 {width:125px;}
.w140 {width:140px;}
.w150 {width:150px;}
.w200 {width:200px;}
.w250 {width:250px;}
.w300 {width:300px;}

.w400 {width:400px;}
.w480 {width:480px;}
.w500 {width:500px;}
/* --- global --- */